.sidebar {
  max-width: 200px;
  
  &__link {
    color: @color-primary;
    font-family: @font-primary;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 18px;
    display: block;
    
    &:nth-child(n+2) {
      margin-top: 25px;
    }
  }
}
