mixin sidebar(additionalClass)
  .sidebar(class=additionalClass)
    a.sidebar__button(href="#")
    .sidebar__links
      a.sidebar__link(href="#") Услуги
      a.sidebar__link(href="#") Объекты
      a.sidebar__link(href="#") Разрешительная документация
      a.sidebar__link(href="#") О компании
      a.sidebar__link(href="#") Отзывы
      a.sidebar__link(href="#") Новости
      a.sidebar__link(href="#") Контакты