include ../blocks/wrapper/wrapper.pug
include ../blocks/header/header.pug
include ../blocks/logo/logo.pug
include ../blocks/contacts/contacts.pug
include ../blocks/button/button.pug
include ../blocks/front/front.pug
include ../blocks/sidebar/sidebar.pug
include ../blocks/category/category.pug
include ../blocks/content/content.pug
include ../blocks/footer/footer.pug
include ../blocks/page/page.pug
