mixin footer(additionalClass)
  footer.footer(class=additionalClass)
    .footer__copyright © 2016. “А-Строй” Строительный холдинг
    +button('Написать нам', 'footer__message')
    +contacts('contacts--left')