.footer {
  margin-top: 67px;
  
  &__wrapper {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #969696;
    padding: 21px 8px 38px 0;
  
    @media screen and (max-width: @screen-lg) {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    @media screen and (max-width: @screen-sm) {
      flex-direction: column;
      align-items: center;
      padding: 20px 0;
    }
  }
  
  &__copyright {
    color: @color-black;
    font-family: @font-primary;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    max-width: 180px;
    margin-top: 6px;
  
    @media screen and (max-width: @screen-sm) {
      text-align: center;
    }
  }
  
  &__right {
    display: flex;
    align-items: center;
  
    @media screen and (max-width: @screen-sm) {
      flex-direction: column;
      align-items: center;
    }
  }
  
  &__message {
    margin-right: 95px;
    margin-top: -6px;
  
    @media screen and (max-width: @screen-lg) {
      margin-right: 20px;
    }
  
    @media screen and (max-width: @screen-sm) {
      margin: 20px 0;
    }
  }
  
  &__contacts {
    
    .contacts__phone {
      font-size: 30px;
    }
  }
}
