mixin footer(additionalClass)
  footer.footer(class=additionalClass)
    .wrapper.footer__wrapper
      .footer__copyright © 2016. “А-Строй” Строительный холдинг
      .footer__right
        +button('Написать нам', 'footer__message')
        +contacts('contacts--left', 'footer__contacts')