mixin front(additionalClass)
  .front(class=additionalClass)
    .front__item
      .front__item-container
        .wrapper
          .front__item-wrapper
            .front__item-content
              h2.front__item-header ОАО «Прокатмонтаж»
              .front__item-date 09.2015 – 04.2016
              .front__item-text Устройство фундаментов под оборудование, бетонного покрытия пола с упрочнением верхнего слоя топпингом, монтаж металлоконструкций
              a.front__item-link(href="#") Все объекты