.front {
  margin-top: 23px;
  
  &__item {
    
  }
  
  &__item-container {
    background: url(../img/front-bg.png) no-repeat;
    background-size: cover;
    height: 465px;
    width: 1240px;
    margin: 0 auto;
    padding: 30px 0 0 2px;
    border-radius: 50px;
    
  }
  
  &__item-wrapper {
    
  }
  
  &__item-content {
    background-color: rgba(11, 24, 91, .77);
    width: 358px;
    height: 363px;
    padding: 42px 69px 42px 52px;
  }
  
  &__item-header {
    color: #fff;
    font-family: @font-secondary;
    font-size: 14px;
    text-transform: uppercase;
  }
  
  &__item-date {
    font-family: @font-primary;
    font-size: 14px;
    color: #fff;
    margin: 7px 0;
  }
  
  &__item-text {
    font-family: @font-primary;
    font-size: 16px;
    color: #fff;
    line-height: 18px;
    font-weight: 400;
  }
  
  &__item-link {
    color: #fff;
    font-family: @font-secondary;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    margin-top: 30px;
  }
}