mixin contacts(additionalClass, additionalClass2)
  .contacts(class=additionalClass, class=additionalClass2)
    a.contacts__phone(href="tel:+7951777-93-83") +7 951 777-93-83
    a.contacts__email(href="mailto:astroy_74@mail.ru") astroy_74@mail.ru
    .contacts__address Челябинск, ул. Обухова, 13, оф. 14