mixin header(additionalClass)
  header.header(class=additionalClass)
    .wrapper.header__wrapper
      +logo
      .header__right
        +contacts('contacts--right', 'header__contacts')
        +button('заказать звонок', 'header__callback')