.content {
  
  @media screen and (max-width: @screen-lg) {
    margin-top: 50px;
  }
  
  @media screen and (max-width: @screen-sm) {
    margin-top: 30px;
  }
  
  &__wrapper {
    display: flex;
    justify-content: space-between;
  
    @media screen and (max-width: @screen-sm) {
      flex-direction: column;
      justify-content: flex-start;
    }
  }
  
  &__section {
    width: 850px;
  
    @media screen and (max-width: @screen-sm) {
      width: 100%;
    }
  }
  
  &__category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    top: -20px;
  
    @media screen and (max-width: @screen-lg) {
      margin-left: 40px;
      justify-content: space-between;
    }
  
    @media screen and (max-width: @screen-sm) {
      margin-left: 0;
      top: 0;
      margin-top: 20px;
    }
  }
}
